body {
    --h1-color: inherit;
	--h2-color: var(--color-accent-half);
	--h3-color: var(--color-accent-half);
	--h4-color: var(--color-accent-half);
	--h5-color: var(--color-accent-half);
	--h6-color: var(--color-accent-half);
}

div.HyperMD-header.HyperMD-header-2.cm-line,
h2 {
	border-bottom: solid;
}

/** COLORS */
/* bolded title => green */
h1 em,
h2 em,
h3 em,
h4 em,
h5 em,
h6 em,
.cm-header.cm-em {
	font-style: normal;
	color: var(--color-green);
	font-weight: var(--font-weight);
}

h1 strong,
h2 strong,
h3 strong,
h4 strong,
h5 strong,
h6 strong,
.cm-header.cm-strong {
	color: var(--color-yellow);
	font-weight: var(--font-weight);
}

h1 strong em,
h2 strong em,
h3 strong em,
h4 strong em,
h5 strong em,
h6 strong em,
h1 em strong,
h2 em strong,
h3 em strong,
h4 em strong,
h5 em strong,
h6 em strong,
.cm-header.cm-strong.cm-em {
	color: var(--color-red);
	font-style: normal;
	font-weight: var(--font-weight);
}