body {
	--p-spacing: 0.5rem;
	
    --h1-color: inherit;
	--h2-color: var(--color-accent-half);
	--h3-color: var(--color-accent-half);
	--h4-color: var(--color-accent-half);
	--h5-color: var(--color-accent-half);
	--h6-color: var(--color-accent-half);
    --h1-size: 2em;
	--h2-size: 1.6em;
	--h3-size: 1.4em;
	--h4-size: 1.3em;
	--h5-size: 1.2em;
	--h6-size: 1.1em;
	--h1-weight: var(--font-bold);
	--h2-weight: var(--font-bold);
	--h3-weight: var(--bold-weight);
	--h4-weight: var(--bold-weight);
	--h5-weight: var(--bold-weight);
	--h6-weight: var(--bold-weight);
    --h1-line-height: var(--line-height-normal);
	--h2-line-height: var(--line-height-normal);
	--h3-line-height: var(--line-height-normal);
	--h4-line-height: var(--line-height-normal);
	--h5-line-height: var(--line-height-normal);
	--h6-line-height: var(--line-height-normal);
}

.markdown-rendered h1,
.markdown-rendered h2,
.markdown-rendered h3,
.markdown-rendered h4,
.markdown-rendered h5,
.markdown-rendered h6 {
	margin: 0;
	letter-spacing: 0;
}

.HyperMD-header-1,
.HyperMD-header-2,
.HyperMD-header-3,
.HyperMD-header-4,
.HyperMD-header-5,
.HyperMD-header-6 {
	letter-spacing: 0;
}

div.HyperMD-header.HyperMD-header-2.cm-line,
h2 {
	border-top: solid;
	padding-top: 0 !important;
	margin-top: var(--p-spacing) !important;
}

.cm-s-obsidian .cm-line.HyperMD-header.HyperMD-header-5,
.cm-s-obsidian .cm-line.HyperMD-header.HyperMD-header-6 {
	padding-top: 0;
}

/** COLORS */
/* bolded title => green */
h1 em,
h2 em,
h3 em,
h4 em,
h5 em,
h6 em,
.cm-header.cm-em {
	font-style: normal;
	color: var(--color-green);
	font-weight: var(--font-weight);
}

h1 strong,
h2 strong,
h3 strong,
h4 strong,
h5 strong,
h6 strong,
.cm-header.cm-strong {
	color: var(--color-yellow);
	font-weight: var(--font-weight);
}

h1 strong em,
h2 strong em,
h3 strong em,
h4 strong em,
h5 strong em,
h6 strong em,
h1 em strong,
h2 em strong,
h3 em strong,
h4 em strong,
h5 em strong,
h6 em strong,
.cm-header.cm-strong.cm-em {
	color: var(--color-red);
	font-style: normal;
	font-weight: var(--font-weight);
}