/* Highlighted text */
.cm-s-obsidian span.cm-highlight,
.markdown-rendered mark {
    background-color: unset;
    color: var(--text-accent);
}

/* Striketrough text */
.cm-s-obsidian span.cm-strikethrough,
.markdown-rendered del {
    color: var(--text-faint);
    text-decoration: none;
}

.cm-s-obsidian .cm-strikethrough .cm-underline {
    color: var(--color-accent-half)
}

.cm-s-obsidian .cm-strikethrough.cm-formatting-link,
.cm-s-obsidian .cm-strikethrough.cm-hmd-internal-link {
    color: var(--color-accent-half)
}